body {
    font-family: Arial, sans-serif;
    background: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: #5a5a5a;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    box-sizing: border-box;
}

.card h1 {
    color: hsl(0, 0%, 85%);
    margin-top: 0;
}

.card p {
    color: hsl(0, 0%, 85%);
    font-size: 16px;
    margin: 10px 0;
}
